@import "tailwindcss";

:root {
  --dark: #121212;
  --dark-alternate: #1e1e1e;
  --primary: #007bff;
  --primary-light: #0056b3;
}

@theme inline {
  --color-dark: var(--dark);
  --color-dark-alternate: var(--dark-alternate);
  --color-primary: var(--primary);
  --color-primary-light: var(--primary-light);
  --font-poppins: var(--font-poppins);
}

html {
  overflow-x: hidden;
}

* {
  @apply font-poppins;
}
